version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: dungcon2005
      MYSQL_DATABASE: campuslearning
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-net

  spring-app:
    build: .
    container_name: spring_container_2
    restart: always
    depends_on:
      - mysql
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/campuslearning
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: dungcon2005
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
    networks:
      - app-net
    volumes:
      - C:\Esclipe_Web\campuslearning\src:/app/src
      - C:\Esclipe_Web\campuslearning\pom.xml:/app/pom.xml
      - ~/.m2:/root/.m2
      - ./uploads:/app/uploads

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - /c/Esclipe_Web/campuslearning/k8s:/etc/prometheus
    ports:
      - "9090:9090"
    networks:
      - app-net
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    networks:
      - app-net
    restart: always

networks:
  app-net:

volumes:
  mysql_data:
